<div class="row">
  <mat-card class="col-3 crear">
    <mat-card-header>
      <mat-card-title><h1>Crear tarea</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Crear tarea y asignarla al alumno deseado
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent">Crear tarea</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="col-3 crear">
    <mat-card-header>
      <mat-card-title><h1>Asignar tareas</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Asignar tareas ya creadas 
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent">Asignar tareas</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="col-3 crear">
    <mat-card-header>
      <mat-card-title><h1>Puntuar</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Puntuar las tareas que ya tienen asignadas alumnos
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent">Puntuar tareas</button>
    </mat-card-actions>
  </mat-card>
</div>