<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class="crear col-10 ml-auto mr-auto mt-3">
      <mat-card-header>
        <mat-card-title>
          <h2>Crear tarea</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Crear tarea y asignarla al alumno deseado
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-outline-dark mb-2" (click)="crearTarea()" >Crear tarea</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class="crear col-10 ml-auto mr-auto mt-3">
      <mat-card-header>
        <mat-card-title>
          <h2>Asignar tareas</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Asignar tareas ya creadas
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-outline-dark mb-2" (click)="asignarTareas()">Asignar tareas</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class=" crear col-10 ml-auto mr-auto mt-3">
      <mat-card-header>
        <mat-card-title>
          <h2>Puntuar</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Puntuar las tareas que ya tienen asignadas alumnos
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-outline-dark mb-2" (click)="puntuarTareas()">Puntuar tareas</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>