<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class="crear col-10 ml-auto mr-auto mt-3" (click)="crearTarea()">
      <mat-card-header>
        <mat-card-title>
          <h2>Crear tarea</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Crear tarea y asignarla al alumno deseado
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class="crear col-10 ml-auto mr-auto mt-3" (click)="asignarTareas()">
      <mat-card-header>
        <mat-card-title>
          <h2>Asignar tareas</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Asignar tareas ya creadas
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class=" crear col-10 ml-auto mr-auto mt-3" (click)="puntuarTareas()">
      <mat-card-header>
        <mat-card-title>
          <h2>Puntuar</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Puntuar las tareas que ya tienen asignadas alumnos
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class=" crear col-10 ml-auto mr-auto mt-3" (click)="listarNotas()">
      <mat-card-header>
        <mat-card-title>
          <h2>Listado</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Ver el listado de notas
      </mat-card-content>
    </mat-card>
  </div>
</div>
