<div class="row">
  <div class="col-12 text-center mb-3">
    <h1>Tareas sin asignar</h1>
  </div>
  <div class="col-12 divTabla">

    <table class="table text-center m-2" *ngIf="tareas.length > 0; else noTareas">
      <thead>
        <tr>
          <th>
            Código
          </th>
          <th>
            Descripción
          </th>
          <th>
            Alumno
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="fila" *ngFor="let tarea of tareas">
          <td>{{tarea.codigoTarea}}</td>
          <td>{{tarea.descripcion}}</td>
          <td>
            <select class="custom-select" (change)="selectAlumno($event.target.value, tarea)">
              <option value="null" selected="selected">Asignar alumno..</option>
              <option *ngFor="let alumno of alumnos" [value]="alumno.codigoAlumno">
                {{alumno.nombre + ' ' + alumno.primerApellido + ' '+ alumno.segundoApellido}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noTareas>
    <div class="col-12 text-center">
      <h4>Todas las tareas están asignadas..</h4>
    </div>
  </ng-template>
  <div class="col-6 d-flex ml-auto mr-auto mt-2 p-5" *ngIf="tareas.length > 0">
    <button class="btn btn-primary w-100" (click)="guardar()">GUARDAR</button>
  </div>
  <div class="col-6 d-flex ml-auto mr-auto mt-2 p-5" *ngIf="tareas.length === 0">
    <button class="btn btn-primary w-100" (click)="crearTareas()">CREAR TAREAS</button>
  </div>
  <div class="col-6 d-flex ml-auto mr-auto mt-2 p-5">
    <button class="btn btn-primary w-100" (click)="onNoClick()">CANCELAR</button>
  </div>
</div>
