table {
  width: 95%;

  th,
  td {
    text-align: center;
  }
}
tr:nth-child(even){
  background-color: rgb(238, 245, 237);
}

.mat-paginator-container {
  width: 95%;
  justify-content: center !important;
  font-weight: bold;

  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 0px !important;
}
