<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class="crear col-10 ml-auto mr-auto mt-3" (click)="crearAlumnos()">
      <mat-card-header>
        <mat-card-title>
          <h2>Crear alumnos</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Creación de alumnos
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class="crear col-10 ml-auto mr-auto mt-3" (click)="adminUsers()">
      <mat-card-header>
        <mat-card-title>
          <h2>Administrar usuarios</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Borrar o modificar los diferentes usuarios
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <mat-card class=" crear col-10 ml-auto mr-auto mt-3" (click)="listarNotas()">
      <mat-card-header>
        <mat-card-title>
          <h2>Listado</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Ver el listado de notas
      </mat-card-content>
    </mat-card>
  </div>
</div>
