.login{
text-align: center;
    .formulario{
        display: flex;
        justify-content: center;
        width: 300px;
        margin: auto;
        margin-top: 2em;
        flex-wrap: wrap;
        mat-form-field{
            width: 80%
        }
    }
}