/* You can add global styles to this file, and also import other style files */
@import "themes/tema.scss";
@import 'flexbox.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body,
app-root {
  margin: 0;
  padding: 0;
  height: 100%;
}


.tituloCentrado {
  flex: 1 1 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
